@import "/vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

@media (max-width: 1328px) {
    .fi-pagination-overview {
        display: block !important;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
